@import 'color';

@mixin section {
  text-align: center;
  margin-bottom: 200px;
  color: darken(white, 60%);

  .title {
    margin-bottom: 80px;
    font-size: 50px;
    font-family: 'Julius Sans One';
  }

}


@mixin content-list($content-width) {
  ul {
    list-style: none;
    padding-left: 0;
  }

  @media(min-width: 768px) {
  ul {
    margin: 0 auto;
    padding-left: 0;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;

    li {
      display: block;
      width: $content-width;
    }
   }
  }
}
